.completedChalengesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 3.5rem 0;
  padding-bottom: 1px;
  border-bottom: 1px solid #d7d8da;

  font-weight: 500;
}

.completedChalengesContainer svg {
  margin-right: 1rem;
}

.completedChalengesContainer span:first-child {
  font-size: 1.25rem;
}

.completedChalengesContainer span:last-child {
  font-size: 1.5rem;
}
